/* container;
btn-container
board-container
board-item */

.container, .btn-container, .board-container, .board-item{
    
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.board-container{
    display: flex;
    align-items: center;
    justify-content: center;

}
.board-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}