.item-border{
  /* 임시 */
  border : 10px solid bisque;

  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.q{
  background-color: aqua;
  border: 10px solid bisque;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

